.my-input {
    background-color: var(--bg-white);
    border-radius: 8px;
}

.my-input:hover {
    outline: 4px solid var(--text-orange);
}

.my-input:focus-within {
    outline: 4px solid var(--text-orange);
}

.my-input > input {
    background: none;
    border: none;
    outline: none;
    font-size: 24px;
    padding: 0 16px;
}


.my-input > button {
    background: none;
    border: none;
    font-size: 24px;
    padding: 8px 16px;
}

.my-input > button:hover {
    background-color: var(--bg-grey);
    color: var(--text-orange);
    cursor: pointer;
}

.my-input > button:active {
    background-color: var(--bg-light-grey);
}